$color-base: #2C3792;
$color-azul-100: #2D2F67;
$color-azul-90: #24265D;
$color-gris-40: #ABAFB1;
$color-gris-30: #5E6366;
$color-gris-20: #ADADAD;
$color-gris-10: #EEF0FF;
$color-white: #FFF;
$color-primary: #F9A72B;

$font-size-40: 40px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;

strong,b{font-weight: 700;}

body{font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 400; margin: 0; padding: 0;}

h1{font-family: "Roboto Condensed", sans-serif; font-size: $font-size-40; font-weight: 700; line-height: 100%; margin: 0 0 2rem 0; padding: 0;}

input::placeholder, textarea::placeholder{color: $color-gris-40!important;}

.color-base{color: $color-base;}
.color-primary{color: $color-primary;}

.font-size-40{font-size: $font-size-40;}
.font-size-20{font-size: $font-size-20;}

.btn-primary{background-color: $color-primary; width: 100%; max-width: 375px; height: 58px; border: 0; outline: 0; line-height: 58px; padding: 0;}

.list{margin: 0; padding: 0; list-style: none;
    li{background: url(../images/html/bullet-list.svg) no-repeat 0 3px; margin: 0 0 .5rem 0; padding: 0 0 5px 30px;}
}

.header{min-height: 145px; font-size: $font-size-20; font-family: "Roboto Condensed", sans-serif; align-items: center; display: flex;
    a{color: $color-azul-100;
        &:hover{color: $color-primary;}
    }
}

.banner-central{background: url(../images/fotos-banners/foto-banner-central.jpg) no-repeat center top; background-size: cover; min-height: 840px; position: relative; color: $color-white;
    &:before{background-color:  rgba(21, 23, 79, .79); content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;}
    .container{position: relative;z-index: 9;}
    .intro{margin: 0 auto; max-width: 1100px; line-height: 32px; padding: 5rem 0 2rem 0; font-size: $font-size-20;}
    .banner-central-blocks{max-width: 1100px; margin: 0 auto;
        h2{font-size: $font-size-24; font-weight: 400; padding: 0; margin: 0 0 1rem 0; font-family: "Roboto Condensed", sans-serif; color: $color-primary;}
        .cards{background-color: rgba(19, 20, 60, .80); border-radius: 10px; height: 100%; display: flex; text-align: center; flex-direction: column; padding: 4rem 1rem 1rem 1rem; min-height: 260px; line-height: 120%;}
    }
}

.servicios-generales{color: $color-base; position: relative;
    &:before{content: ""; position: absolute; top: 0; width: 100%; left: 0; height: 10px; background-color: $color-primary;}
    h2{color: $color-base; font-size: $font-size-40; font-weight: 700; font-family: "Roboto Condensed", sans-serif; margin: 0 0 2rem 0; padding: 0;}
    .servicios-generales-detalle{max-width: 615px; padding: 0 0 0 4rem;}
    .col-img{max-width: 640px;}
    img{width: 100%;}
    .intro{padding-bottom: 1rem;}
}

select option[value="0"] {
    color: gray!important; }

  select:invalid {
    color: gray!important; 
  }

.constructora{background: url(../images/fotos-banners/foto-constructora.jpg) no-repeat center top; background-size: cover; min-height: 770px; position: relative; color: $color-white; padding: 2rem 0;
    &:before{background-color:  rgba(0, 0, 0, .57); content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;}
    .container{position: relative;z-index: 9;}
    .constructora-blocks{background-color: $color-gris-10; font-size: $font-size-18; font-family: "Roboto Condensed", sans-serif; color: $color-azul-90; line-height: 28px; padding: 1rem 2rem; margin-bottom: 1rem;}
    .intro{margin: 0 auto; max-width: 1000px; text-align: center; padding: 2rem 0; font-family: "Roboto Condensed", sans-serif; font-size: $font-size-20;}
    h2{color: $color-white; font-size: $font-size-40; font-weight: 700; margin: 0 0 2rem 0; padding: 0;}
}

.comercializadora{max-width: 1070px; margin: 0 auto;
    h3{font-size: 30px; font-family: "Roboto Condensed", sans-serif; font-weight: 400;}
}

.marcas{border-radius: 10px; background-color: $color-white; padding: 2rem 1.5rem; color: $color-base; font-size: $font-size-20; font-family: "Roboto Condensed", sans-serif; max-width: 370px;}

.contactanos{padding: 2rem 0; max-width: 630px; margin: 0 auto; padding: 3rem 2rem;
    h2{text-align: center; color: $color-azul-100; font-size: $font-size-40; font-weight: 700; font-family: "Roboto Condensed", sans-serif; margin-bottom: 2rem;}
    .form-group{border: 1px solid $color-gris-20; border-radius: 8px; padding: 0; margin-bottom: 1rem;}
    label{font-weight: 700; color: $color-gris-30; display: block; margin: 0; padding: 5px 0 0 15px;}
    .form-control{border: 0; outline: 0; box-shadow: none; height: 34px;}
    .form-select{border: 0; outline: 0; box-shadow: none;}
    textarea.form-control{height: 160px; overflow: auto; resize: none;}
    .boton{padding: 2rem 0;}
    .obligatorio{border: 1px solid #c03;}
}

.footer{background-color: $color-azul-100; padding: 3rem 0 2rem 0;
    .whatsapp{background: url(../images/html/ico-whatsapp.svg) no-repeat 15px 20px $color-base; color: $color-white; max-width: 383px; padding: 10px 10px 10px 100px; border-radius: 10px;}
}


@media (max-width: 991px){
    .servicios-generales{
        .col-img{max-width: 100%;}
        .servicios-generales-detalle{max-width: 100%; padding: 2rem;}
    }
}

@media (max-width: 780px){
    body,html{overflow-x: hidden;}
    .banner-central{
        .banner-central-blocks{
            .cards{min-height: inherit; padding: 1rem;}
        }
    }
    .header{
        nav{display: flex; flex-wrap: wrap; text-align: center; align-items: center; justify-content: center;
            a{display: block;}
        }
    }
}

